<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api bd mysql2</title>
</head>
<body>
    <header>
        <h1>Página index da aplication</h1>
        <nav>
            <li><a href="/alunos/cadastroAluno">Cadastro de alunos</a></li>
            <li><a href="/alunos/listAllAlunos">Lista de alunos</a></li>
        </nav>
    </header>
</body>
</html>